<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::main})}">
<head></head>
<body>
<main th:fragment="main" class="main-content">
    <div th:replace="~{fragments/page-heading :: pageHeading(items=${breadcrumbs})}"></div>
    <h1 th:text="${msg['mongo.documentDetail']}">Document details</h1>
    <form th:action="@{/mongo/{id}/{dbName}/detail(id=${connectionId}, dbName=${dbName})}" method="post" class="detail-form">
        <input type="hidden" name="collection" th:value="${collection}"/>
        <input type="hidden" name="docId" th:value="${docId}"/>
        <textarea name="body" class="detail-json detail-json-textarea" data-detail-editor="json" th:text="${prettyJson}"></textarea>
        <div class="detail-actions">
            <button type="submit" class="query-button" th:text="${msg['common.save']}">Save</button>
            <button th:if="${dataDiffPayload != null}" type="button" class="query-button data-diff-add"
                    th:attr="data-diff-payload=${dataDiffPayload}, data-diff-added-text=${msg['diff.added']}"
                    th:text="${msg['diff.addToCompare']}">Add to comparison</button>
        </div>
    </form>
</main>
</body>
</html>
