<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="breadcrumbs(items)" class="breadcrumbs" aria-label="Breadcrumb">
    <ol class="breadcrumbs-list">
        <li th:each="item, stat : ${items}">
            <a th:if="${item.url}" th:href="${item.url}" th:text="${item.label}">Label</a>
            <span th:unless="${item.url}" th:text="${item.label}" class="breadcrumbs-current">Label</span>
            <span th:if="${!stat.last}" class="breadcrumbs-sep">/</span>
        </li>
    </ol>
</nav>
</body>
</html>
